@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1688279275021') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duanxin:before {
  content: "\e647";
}

.icon-dizhi:before {
  content: "\e652";
}

.icon-dianhua:before {
  content: "\e88b";
}

